:root{
  background-color: #111;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.border{
  border: 1px solid white;
}

.opening{
  animation: fadeIn 10s linear;
}

@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  20%{
    opacity: 0.2;
  }
  30%{
    opacity: 1;
  }
}