:root{
  background-color: #111;
}
.center{
  display: flex;
  justify-content: center;
  align-content: center;
}

.border{
  border: 1px solid white;
}

.opening{
  animation: fadeIn 70s linear;
}

@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}